<html>
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
        <title>Client</title>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    </head>
    <body>
        <a href="/leave">Cancel session</a>
    </body>
</html>
