<html>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <head>
        <title>QR</title>
    </head>
    <body>
        <img id=qr_image src="{{url_for('static', filename=img_path)}}" />
        <br>
	<p id=ses_id> {{ session_id }} </p>
    </body>
    <button onclick="session_close()">Close session</button>
    <iframe src="queue" height="200" width="300">
</html>
